body{
    padding-top: 5vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: turquoise;
}

.main{
    display: flex;
    flex-wrap: wrap;
}
/*This part is just to try the grid display property in css and the firefox developer tools*/

.item{
    padding: 10px;
    background: blueviolet;
    border: rgb(65, 42, 165) solid;
    border-radius: 5px;
}
/*End of test*/

.button{
    text-align: center;
    padding: 20px;
}
button{
    text-align: center;
    width: 25vw;
    height: 25vh;
    background: linear-gradient(rgb(92, 88, 88), rgb(61, 57, 57) );
    color: white;
    font-size: 40px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 5px 5px 10px rgb(92, 88, 88);
}
#tictac{
    color: white;
    text-decoration: none;
}
#tictac:visited{
    text-decoration: none;
}
@media screen and (max-height:400px){
    button{
        height: 100px;
    }
}

@media screen and (max-width:250px){
    button{
        width: 100px;
    }  
}
