body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: turquoise;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    text-shadow: 0 0 0.1rem black;
}
#main{
    display: flex;
    flex-direction: column;
    flex:1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.btn{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 20rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    transition: all .1s ease;
}
.btn:hover{
    transform: scale(1.2);
    border-color: #ff8800;
    box-shadow: 0 0 0.5rem #ff8800;
}
.options div{
    font-size: 20px;
}

@media screen and (max-height:400px){
    button{
        height: 100px;
    }
}

@media screen and (max-width:250px){
    button{
        width: 100px;
    }  
}